@import "tailwindcss";

@theme {
  --color-on-secondary-fixed-variant: #23501e;
  --color-error-container: #ffdad6;
  --color-on-tertiary-fixed: #111c2c;
  --color-surface-container-highest: #dfe3e7;
  --color-on-primary: #ffffff;
  --color-secondary: #3b6934;
  --color-on-tertiary: #ffffff;
  --color-tertiary-fixed: #d8e3fa;
  --color-tertiary-fixed-dim: #bcc7dd;
  --color-outline: #72777f;
  --color-primary-fixed-dim: #a2caf7;
  --color-on-primary-fixed-variant: #1d496f;
  --color-on-secondary: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary: #1a2536;
  --color-secondary-fixed: #bcf0ae;
  --color-on-surface: #171c1f;
  --color-inverse-primary: #a2caf7;
  --color-secondary-fixed-dim: #a1d494;
  --color-inverse-surface: #2c3134;
  --color-surface-container-high: #e4e9ed;
  --color-error: #ba1a1a;
  --color-surface-bright: #f6fafe;
  --color-on-tertiary-fixed-variant: #3c475a;
  --color-surface-variant: #dfe3e7;
  --color-on-tertiary-container: #9aa5bb;
  --color-on-secondary-container: #3f6d38;
  --color-surface-container: #eaeef2;
  --color-surface-container-low: #f0f4f8;
  --color-on-error-container: #93000a;
  --color-on-error: #ffffff;
  --color-on-surface-variant: #42474e;
  --color-on-background: #171c1f;
  --color-tertiary-container: #303b4d;
  --color-on-primary-fixed: #001d34;
  --color-surface-dim: #d6dade;
  --color-on-primary-container: #80a8d3;
  --color-primary: #002743;
  --color-primary-fixed: #cfe5ff;
  --color-background: #f6fafe;
  --color-surface-tint: #386188;
  --color-inverse-on-surface: #edf1f5;
  --color-outline-variant: #c2c7cf;
  --color-primary-container: #0a3d62;
  --color-surface: #f6fafe;
  --color-secondary-container: #b9eeab;
  --color-on-secondary-fixed: #002201;

  --font-headline: var(--font-manrope);
  --font-body: var(--font-inter);
  --font-label: var(--font-inter);
}

@layer base {
  body { 
    background-color: var(--color-surface); 
    color: var(--color-on-surface);
  }
}

@layer utilities {
  .glass-panel {
    background: rgba(246, 250, 254, 0.7);
    backdrop-filter: blur(16px);
  }
}

/* Material Symbols Adjustments */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
